<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote.total %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
