<h5><strong>Discuss</strong></h5>
<%= simple_form_for Note.new do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :noteable, :as => :hidden, type: :integer, :input_html => { :value => noteable.id } %>
  <%= f.input :noteable_type, :as => :hidden, :input_html => { :value => noteable.class } %>
  <div class="field">
   <%= f.rich_text_area :content %>
 </div>


  <div class="je">
    <%= f.button :submit, "Add note", class: 'btn btn-tertiary mt-2' %>
  </div>
<% end %>
