<div class="container">
  <div class="backed">
    <%= simple_form_for(@task) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
    <div class="sub-backed">
      <%= render "shared/periods", periods: @task.periods %>
    </div>
  </div>

</div>
