<div class="top-header rel">
  <% if @chatroom.project %>
    <h3><%= link_to @chatroom.project.name, project_path(@chatroom.project) %> | Messages</h3>
  <% else %>
    <h3>Messages</h3>
  <% end %>
</div>
<div class="container backed messages-container">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-user="<%= current_user.id %>">
    <% if @chatroom.messages.length > 0 %>
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    <% else %>
      <p class="text-center">This is the best place to hash things out quickly, throw links and images back and forth, think out loud, share news, riff, and chat in real-time with your team.</p>
    <% end %>
  </div>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message #{@chatroom.name}" %>
  <% end %>
</div>
