<div class="container">
  <div class="top-header">
    <% if @period.end_time %>
      <div class="jcst">
        <div class="avatar-sm mt-2 mr-2" title='<%= "#{@period.user.full_name}" %>' style="background-image: url('<%= @period.user.photo.attached? ? url_for(@period.user.photo) : asset_path("user.png") %>')" ></div>
        <h1 class="text-center blue">Finished <strong><%= @period.title %></strong></h1>
      </div>
      <h3 class="text-center"><strong>for <%= @period.task.list.project.user == current_user ? "You" : @period.task.list.project.user.first_name %> <%= distance_of_time_in_words(@period.created_at - Time.now) %> ago</strong></h3>
      <div class="jc">
        <h5 class="text-center">duration: <strong><%= @period.readable_length %></strong></h5>
        <% if @period.task.list.payment_type == "support" %>
          <h5 class="text-center">total: <strong>£ <%= @period.humanized_total %></strong></h5>
        <% end %>
      </div>
    <% else %>
      <div class="jcst">
        <% if @period.user == current_user %>
          <h1 class="text-center blue"><strong>You have been <%= @period.title %></strong></h1>
        <% else %>
          <div class="avatar-sm mt-2 mr-2" title='<%= "#{@period.user.full_name}" %>' style="background-image: url('<%= @period.user.photo.attached? ? url_for(@period.user.photo) : asset_path("user.png") %>')" ></div>
          <h1 class="text-center blue"><strong>has been <%= @period.title %></strong></h1>
        <% end %>
      </div>
      <h3 class="text-center">for <strong> <%= @period.task.list.project.user == current_user ? "You" : @period.task.list.project.user.first_name %></strong> since <%= @period.created_at.strftime('%I:%M') %> <%= @period.created_at.strftime('%p').downcase %> <%= @period.created_at.strftime('%a') %></h3>
      <div class="jc">
        <h5><span class="subtext">time spent</span><br><%= @period.readable_length %></h5>
        <h5 class="text-center" style="width: 200px;"><span class="subtext">rate</span><br>£<%= @period.user.hourly_rate %>/hr</h5>
        <h5><span class="subtext">total</span><br><strong><%= @period.humanized_total %></strong></h5>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12">
    <div class="backed">
      <h5>Task: <%= @period.task.name %></h5>
      <% if !@period.end_time && @period.user == current_user %>
        <%= simple_form_for(@period) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :end_time %>
            <%= f.input :end_note, as: :text %>
          </div>
          <div class="jc">
            <%= f.button :submit, "Change Task", class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
