<div class="container">
  <div class="top-header">
    <%= render 'shared/period_head', period: @period %>
    <%= render 'shared/period_sub', period: @period %>
  </div>
  <div class="col-sm-12">
    <div class="backed">
      <h5>Task: <%= @period.task.name %></h5>
      <% if !@period.end_time && @period.user == current_user %>
        <%= simple_form_for(@period) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :end_time %>
            <%= f.input :end_note, as: :text %>
          </div>
          <div class="jc">
            <%= f.button :submit, "Change Task", class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
