<div class="top-header">
  <h2 class="text-center"><strong>Edit Profile</strong></h2>
</div>
<div class="container">
  <div class="rhs-cont">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2 offset-md-3 col-lg-6">
        <div class="backed">
          <div class="p-2">
            <%= simple_form_for(current_user) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <%= f.input :photo, as: :file %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :email %>
                <%= f.input :company %>
                <%= f.input :position, label: "Job position" %>
                <%= f.input :company_logo, as: :file %>
              </div>
              <div class="jc">
                <%= f.button :submit, class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
