
<div class="card pt-2">
  <div class="card-header task-header" id="task_<%= task.id %>">
    <div class="js">
      <%= link_to "✅", uncomplete_list_task_path(task.list, task), class: "uncomplete" %>
      <h5 class="secondary ml-2 mb-0 collapsed" data-toggle="collapse" data-target="#collapse_task_<%= task.id %>" aria-expanded="false" aria-controls="collapse_task_<%= task.id %>">
        <%= task.name %>
      </h5>
    </div>
  </div>

  <div id="collapse_task_<%= task.id %>" class="collapse collapse_task" aria-labelledby="headingOne" data-parent="#listAccordionExample_<%= task.list.id %>">
    <div class="card-body">
      <p><%= task.description %></p>
      <hr>
      <% if task.periods.any? %>
        <h5 class="mt-4"><span class="subtext">Worked so far: </span><strong> <%= distance_of_time_in_words(task.total_length * 60) %></strong></h5>
        <%= render "shared/periods", periods: task.periods %>
      <% end %>
      <div class="line-cont mt-4">
        <h4>Discussion</h4>
        <div class="heavyline"></div>
      </div>
      <% task.notes.order(created_at: :desc).each do |note| %>
        <%= render "shared/note", note: note %>
      <% end %>
      <hr>
      <div class="sub-note">
        <%= render "notes/form", note: Note.new, noteable: task %>
      </div>
    </div>
  </div>
</div>
