<div class="container">
  <div class="accordion" id="accordionExample">
    <% @lists.flatten.each_with_index do |list, index| %>
      <div class="card">
        <div class="card-header" id="list_<%= list.id %>">
          <%= render 'shared/list_line', list: list, index: index %>
          <% if list.description %>
            <p class="text-center"><%= list.description %></p>
          <% end %>
        </div>
        <div class="small-container">
          <div id="collapse_<%= list.id %>" class="show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= render "shared/tasks", list: list %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

