<div class="card">
  <div class="card-header" id="list_<%= list.id %>">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left <%= 'collapsed' unless index == 0  %>" type="button" data-toggle="collapse" data-target="#collapse_<%= list.id %>" aria-expanded="<%= index == 0 ? true : false %>" aria-controls="collapse_<%= list.id %>">
        <%= list.name %>
      </button>
    </h2>
  </div>

  <div id="collapse_<%= list.id %>" class="collapse <%= 'show' if index == 0  %>" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <%= render "shared/tasks", list: list %>
    </div>
  </div>
</div>

