<div class="card pt-2">
  <div class="card-header task-header" id="task_<%= task.id %>">
    <div class="js as wrap pb-2">
      <%= link_to "✅", complete_list_task_path(task.list, task), class: "complete" %>
      <h4 class="secondary  ml-2 mb-0 <%= 'collapsed' unless index == 0  %>" data-toggle="collapse" data-target="#collapse_task_<%= task.id %>" aria-expanded="<%= index == 0 ? true : false %>" aria-controls="collapse_task_<%= task.id %>">
        <%= task.name %>
      </h4>
      <%= render "shared/assignees_row", users: task.users %>
      <%= render "shared/task_info", task: task %>
      <% if current_user.admin %>
        <%= render "shared/period_form", task: task %>
      <% end %>
    </div>

  </div>
  <div id="collapse_task_<%= task.id %>" class="collapse collapse_task <%= 'show' if index == 0  %>" aria-labelledby="headingOne" data-parent="#task_<%= task.id %>">
    <div class="card-body">
      <p><%= task.description %></p>
      <% if task.periods.any? %>
        <h5 class="mt-4"><span class="subtext">Worked so far: </span><strong> <%= distance_of_time_in_words(task.total_length * 60) %></strong></h5>
        <%= render "shared/periods", periods: task.periods %>
      <% end %>
      <hr>
      <h5>Add a note:</h5>
      <% task.notes.each do |note| %>
        <div class="trix-content"><%= note.content %></div>
      <% end %>
      <%= render "notes/form", note: Note.new, noteable: task %>
    </div>
  </div>
</div>


