<div class="accordion p-0-2" id="listAccordionExample_<%= list.id %>">
  <% if !current_user.accepts_promise %>
    <%= render "shared/unpromised_#{list.payment_type}_list", list: list %>
  <% elsif list.tasks.empty? %>
    <h5><%= list.support_prompt %></h5>
    <h5>👇</h5>
  <% elsif list.incomplete_tasks.empty? %>
    <h5>All tasks complete 🎉</h5>
  <% else %>
    <% list.tasks.where(completed: false).each_with_index do |task, index| %>
      <%= render "shared/task", task: task, index: index %>
    <% end %>
  <% end %>
  <%= render 'shared/hidden_task_form', list: list %>
  <% list.tasks.where(completed: true).order(completed_at: :asc).each_with_index do |task, index| %>
    <%= render "shared/complete_task", task: task, index: index %>
  <% end %>
</div>


