<div class="container">
  <div class="rhs-cont">
    <div class="top-header">
      <h2><strong>Hi <%= current_user.first_name.capitalize %>!</strong></h2>
      <h4>Here's what's been important today</h4>
      <p><%= Time.now.strftime("%A, %b %d") %></p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="backed backed-sm">
          <h4>HD Devs working live now:</h4>
          <hr>
          <div class="backed-inner">
            <% if @periods.empty? %>
              <%= render 'shared/void', emoji: "ðŸ˜´", message: "Nothing to report", title: "All quiet on the western front" %>
            <% else %>
              <%= render 'shared/periods', periods: @periods %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4>Tasks due soon:</h4>
          <hr>
          <div class="backed-inner">
            <% if @tasks.empty? %>
            <%= render 'shared/void', emoji: "ðŸ»", title: "Well done!", message: "It looks like we are the best agency in the world! have another beer!" %>
            <% else %>
              <%= render 'shared/developer_tasks', tasks: @tasks %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4>Quotes needing acceptance:</h4>
          <hr>
          <div class="backed-inner">
            <% if @quotes.empty? %>
              <%= render 'shared/void', emoji: "ðŸº", title: "No quotes pending acceptance" %>
            <% else %>
              <%= render 'shared/developer_quotes', quotes: @quotes %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4>Leaderboard</h4>
          <hr>
          <div class="backed-inner">
            <h5>COMING SOON!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

