<div class="container">
  <div class="rhs-cont">
    <div class="top-header">
      <h2><strong>Hi <%= current_user.first_name.capitalize %>!</strong></h2>
      <h4>Here's what's on your docket today.</h4>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4><strong>Tasks assigned to you:</strong></h4>
          <hr>
          <div class="backed-inner">
            <% if @assigned_tasks.empty? %>
              <%= render 'shared/void', emoji: "ðŸº", title: "Well done!", message: "It looks like you've cleared all your tasks. Go and have a beer and rest easy, knowing you are the best developer in the company except for Fanning!" %>
            <% else %>
              <%= render 'shared/developer_tasks', tasks: @assigned_tasks %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4><strong>Tasks due soon:</strong></h4>
          <hr>
          <div class="backed-inner">
            <% if @due_tasks.empty? %>
            <%= render 'shared/void', emoji: "ðŸ»", title: "Well done!", message: "It looks like we are the best agency in the world! have another beer!" %>
            <% else %>
              <%= render 'shared/developer_tasks', tasks: @due_tasks %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4><strong>Invoices needing your approval:</strong></h4>
          <hr>
          <div class="backed-inner">
            <% if @my_invoices.empty? %>
              <%= render 'shared/void', emoji: "ðŸº", title: "Well done!", message: "It looks like you have approved all your invoices. You are the best accountant in the world! BEER!" %>
            <% else %>
              <% @my_invoices %>
              <%= render 'shared/developer_invoices', invoices: @my_invoices %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="backed">
          <h4><strong>Leaderboard</strong></h4>
          <hr>
          <div class="backed-inner">
            <% @admin_users.each do |user| %>
              <%= render "shared/leaderboard_row", user: user %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

