<%= simple_form_for([project, document]) do |f| %>
  <%= f.input :name %>
  <div data-target="documents.prompt">
    <p>What type of document would you like to add?</p>
    <div class="d-flex align-items-center mt-3">
      <div class="btn btn-primary" data-choice="url" data-action="click->documents#showButton">URL</div>
      <p class="mb-0 ml-3">Good for Google Docs, Google Sheets, or other external resources</p>
    </div>
    <div class="d-flex align-items-center mt-3">
      <div class="btn btn-primary" data-choice="file" data-action="click->documents#showButton">File</div>
      <p class="mb-0 ml-3">Good for images, pdf's and other documents stored on your computer</p>
    </div>
  </div>
  <div class="d-none" data-target="documents.url">
    <%= f.input :url %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <div class="d-none" data-target="documents.file">
    <%= f.input :file, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
