<div class="top-header">
  <h2><strong>Projects</strong></h2>
</div>
<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class=" col-xs-12 col-lg-4 col-md-6">
          <div class="backed back-hov">
            <h4 class="elipssis"><strong><%= project.name %></strong></h4>
            <h5 class="elipssis"><%= project.user.company %></h5>
            <div class="team-holder">
              <div class="avatar-sm lead" title='<%= "#{project.dev_user.full_name} - Team Lead" %>' style="background-image: url('<%= project.dev_user.photo.attached? ? url_for(project.dev_user.photo) : 'user.png' %>')" ></div>
              <% project.members[0..3].each do |member| %>
                <div class="avatar-sm" title='<%= "#{member.full_name}" %>' style="background-image: url('<%= member.photo.attached? ? url_for(member.photo) : 'user.png' %>')" ></div>
              <% end %>
            </div>

            <%= link_to project_path(project) do %>
              <div class="link"></div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>

