<div class="top-header rel">
  <h2><strong>Projects </strong></h2>
  <%= render 'shared/line', path: nil %>
</div>
<div class="container">
  <div class="row">
    <% if @projects.empty? %>
      <div class="col-sm-3 offset-sm-9 text-right">
        <h1>👆</h1>
        <h5>It looks like you haven't got any projects yet. Let's make your first one</h5>
      </div>
    <% else %>
      <% @projects.each do |project| %>
        <div class=" col-xs-12 col-lg-4 col-md-6">
          <div class="backed backed-sm back-hov">
            <h4 class="elipssis"><strong><%= project.name %></strong></h4>
            <h5 class="elipssis"><%= project.user.company %></h5>
            <div class="team-holder">
              <%= render "shared/member_row", memberships: project.valid_memberships, delete: false, hide_add: true %>
            </div>
            <%= link_to project_path(project) do %>
              <div class="link"></div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


