<div class="top-header">
  <h1 class="text-center"><strong><%= @project.name %></strong></h1>
  <h3 class="text-center"><strong><%= @project.user.company %></strong></h3>
  <%= render "shared/member_row", memberships: @project.valid_memberships, delete: false, hide_add: false %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 tight-grid">
      <div class="backed">
        <h4 class="elipssis"><strong>Developing now</strong></h4>
        <hr>
        <div class="backed-inner">
          <%= render "shared/periods", periods: @project.live_periods %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 tight-grid">
      <div class="backed">
        <h4 class="elipssis"><strong><%= link_to "To-dos", project_lists_path(@project), class: "secondary" %></strong>  <span style="font-size: 1.25rem;">✅</span></h4>
        <hr>
        <div class="backed-inner">
          <% @project.lists.each do |list| %>
            <h6>
              <%= link_to list_path(list), class: 'secondary' do %>
                 <span class="<%= 'green' if list.incomplete_tasks.length == 0  %>"><%= list.name %>
                  (<%= list.tasks.length - list.incomplete_tasks.length %>/<%= list.tasks.length %>)
                  <% if list.incomplete_tasks.length == 0 %>
                    <i class="fa fa-check-square"></i>
                  <% end %>
                </span>
              <% end %>
            </h6>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 tight-grid">
      <div class="backed">
        <h4 class="elipssis"><strong>Campfire</strong></h4>
        <hr>
        <div class="backed-inner">
          <!-- When messages are added, put an if statement here, e.g. if @messages.length > 0 else show this stuff👇 -->
          <p class="backed-emoji">🏕</p>
          <p class="text-center grey size-14">
            Chat casually with the team, ask random questions, and share stuff without ceremony.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 tight-grid">
      <div class="backed">
        <h4 class="elipssis"><strong>This Week</strong></h4>
        <hr>
        <div class="backed-inner">
        <p><strong>Total: <%= @project.current_invoice.humanized_total(@project.current_invoice.total_cents) %></strong></p>
          <% if @project.current_invoice.tasks.any? %>
            <% @project.current_invoice.tasks.each do |task| %>
              <div class="sub-backed">
                <p class='m-0'><%= task.name %> - <%= task.humanized_total(task.price) %></p>
                <%= link_to task_path(task), class: "link" do %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p class="backed-emoji">🗓️</p>
            <p class="text-center grey size-14">
              Tasks completed so far this week
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 tight-grid">
      <div class="backed">
        <h4 class="elipssis"><strong>Invoices</strong></h4>
        <hr>
        <div class="backed-inner">
          <% if @project.unpaid_invoices.length > 0 %>
            <% @project.unpaid_invoices.each do |invoice| %>
              <div class="sub-backed <%= invoice.color %>">
                <p class='m-0'><%= 1001 + invoice.id %> - <strong>£ <%= invoice.total %></strong> <%= invoice.due_by > Time.now ? "due in" : "overdue by"  %> <%= distance_of_time_in_words(invoice.due_by - Time.now) %></p>
                <%= link_to invoice_path, class: "link" do %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p class="backed-emoji">⏰</p>
            <p class="text-center grey size-14">
              Invoices which have not yet been paid.
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 tight-grid">
      <%= link_to project_documents_path(@project), class: "backed" do %>
        <h4 class="elipssis"><strong>Documents</strong></h4>
        <hr>
        <div class="backed-inner">
          <p class="backed-emoji">📄</p>
          <p class="text-center grey size-14">
            Share docs, files, images, and spreadsheets. Organise in folders so they’re easy to find.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
