<div class="top-header">
  <h1 class="text-center"><strong><%= @project.name %></strong></h1>
  <h3 class="text-center"><strong><%= @project.user.company %></strong></h3>
  <%= render "shared/member_row", project: @project, delete: false, hide_add: false %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="backed">
        <h4 class="elipssis"><strong>Working now  🏃‍♂️</strong></h4>
        <hr>
        <div class="backed-inner">
          <% @project.live_periods.each do |period| %>
            <div class="js rel">
              <div class="avatar-sm mt-1" title='<%= "#{period.user.full_name} - Team Lead" %>' style="background-image: url('<%= period.user.photo.attached? ? url_for(period.user.photo) : asset_path("user.png") %>')" ></div>
              <div class="period-inner">
                <p class="elipssis"><%= period.title %></p>
                <p class="subtext elipssis" >for the last <%= distance_of_time_in_words(period.created_at - Time.now) %></p>
              </div>
              <%= link_to period_path(period), class: "link" do  %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="backed">
        <h4 class="elipssis"><strong>To Dos</strong>  <span style="font-size: 1.25rem;">✅</span></h4>
        <hr>
        <div class="backed-inner jcol">
          <% @project.lists.each do |list| %>
            <h5><%= link_to list.name, list_path(list), class: 'secondary' %>
               - <span class="<%= 'green' if list.incomplete_tasks.length == 0  %>">
                (<%= list.tasks.length - list.incomplete_tasks.length %>/<%= list.tasks.length %>)
                <% if list.incomplete_tasks.length == 0 %>
                  <i class="fa fa-check-square"></i>
                <% end %>
              </span>
            </h5>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="backed">
        <h4 class="elipssis"><strong>Campfire  🏕️</strong></h4>
        <hr>
        <div class="backed-inner">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="backed">
        <h4 class="elipssis"><strong>Paid invoices  💳</strong></h4>
        <hr>
        <div class="backed-inner">
          <% @project.paid_invoices.each do |invoice| %>
            <div class="sub-backed">
              <p class='m-0'><%= 1001 + invoice.id %> - <strong>£ <%= invoice.total %></strong> paid <%= distance_of_time_in_words(invoice.due_by - Time.now) %></p>
              <%= link_to invoice_path, class: "link" do %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="backed">
        <h4 class="elipssis"><strong>Outstanding Invoices</strong> <span style="font-size: 1.25rem;">⏰</span></h4>
        <hr>
        <div class="backed-inner">
          <% @project.unpaid_invoices.each do |invoice| %>
            <div class="sub-backed <%= invoice.color %>">
              <p class='m-0'><%= 1001 + invoice.id %> - <strong>£ <%= invoice.total %></strong> <%= invoice.due_by > Time.now ? "due in" : "overdue by"  %> <%= distance_of_time_in_words(invoice.due_by - Time.now) %></p>
              <%= link_to invoice_path, class: "link" do %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="backed">
        <h4 class="elipssis"><strong>Documents  📄</strong></h4>
        <hr>
        <div class="backed-inner">
      </div>
    </div>
  </div>
</div>
