<div class="top-header">
  <h2 class="text-center"><strong><%= link_to @project.name, project_path(@project), class: "secondary"  %>'s team</strong></h2>
  <%= render "shared/member_row", project: @project, delete: false, hide_add: true %>
</div>
<div class="container">
  <div class="rhs-cont">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2 offset-md-3 col-lg-6">
        <div class="backed">
          <div class="p-2">
            <h4 class=" text-center mt-2 mb-4"><strong>What would you like to do?</strong></h4>
            <h5 class="mt-2 mb-2">add an HD developer to the project</h5>
            <%= simple_form_for [@project, TeamMembership.new] do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div class="form-inputs">
                <%= f.association :user, collection: User.where.not(first_name: nil).to_a - @project.members.to_a , prompt: "Which developer would you like to add?", label_method: :full_name, value_method: :id, include_blank: false, label: false %>
              </div>






              <div class="jc mt-2 mb-5">
                <%= f.button :submit, "Add", class: "btn-primary" %>
              </div>
            <% end %>


            <h5 class="mt-2 mb-2">invite a new member with their email</h5>
            <%= simple_form_for [@project, TeamMembership.new] do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div class="form-inputs">
                <%= f.input :email, placeholder: "e.g. barack@blacklivesmatter.com", label: false %>
              </div>
              <div class="jc mt-2 mb-5">
                <%= f.button :submit, "Invite", class: "btn-primary" %>
              </div>
            <% end %>

            <% unless @project.team_memberships.select {|m| m.valid?}.length == 2 %>
              <h5>or remove a someone</h5>
              <%= render "shared/member_row", project: @project, delete: true %>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
